body {
    background-image: url("../images/wp1889601-bricks-wallpapers.jpg");
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */

}
#nav-bar {
    text-align: center;
    height: 70px;
    background-color: rgb(165, 160, 160, .23);
   
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


#about,#portfolio,#contact{
    margin: 10px;
    align-content: center;
    background-color: rgb(219, 208, 208);
    color: black;
}

#nav-links {
    margin: 0 auto;
}

/* #main-content {
    
} */

#name, #content {
    color: white;
    
}
