body {
    background-image: url(../images/wp1889601-bricks-wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    overflow: hidden;   
    height: 100%;
 }

#nav-bar {
    text-align: center;
    height: 70px;
    background-color: rgb(165, 160, 160, .23);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


#about,#portfolio,#contact{
    margin: 10px;
    align-content: center;
    background-color: rgb(219, 208, 208);
    color: black;
}

#nav-links {
    margin: 0 auto;
}

#main-content {
     margin: 434px auto; 
    display: inline-block;
    vertical-align: center;
    
 } 

#name, #content {
    color: white;
    
}

#contact-form {
    width: 35%;
    color: white;
    margin: 0 auto;
    margin-top: 10%;
    -ms-high-contrast-adjust: auto;
}

#firstName-input,#lastName-input,#email-input,#comments-input {
    background-color: rgba(248, 245, 244, 0.35);
    border: black;
    color: black;
}

.image {
    opacity: .44;
    height: 200px;
    width: 200px;
}

#portfolio-content {
    margin-top:10%;
}

